html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.auth {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*padding-top: 50px;*/
    /*justify-content: center;*/
    width: 400px;
    margin: 0 auto;
    padding-top: 50px;
}

.chat {
    display: flex;
    height: calc(70vh - 64px);
    width: 100%;
}

.chat-users {
    width: 300px;
    border: 1px solid #e0e0e0;
    margin: 0;
}

.actions {
    border: 1px solid #e0e0e0;
    height: calc(30vh - 31px);
    padding: 20px;
}

.chat-messages {
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 15px;
    overflow-y: auto;
}

.message {
    display: flex;
}

.message-content {
    border-radius: 3px;
    padding: 6px 9px;
    font-size: 14px;
    margin-bottom: 10px;
    max-width: 250px;
}

.message.owner {
    justify-content: flex-end;
}

.message.owner .message-content {
    color: #fff;
    background: #26a69a;
}

main {
    padding: 0;
}
